{% extends "base.html" %}
{% load static %}
{% block content %}

  <!-- Page Header Start -->
  <div class="container-fluid bg-secondary mb-5">
	<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 120px">
		<h1 class="font-weight-semi-bold text-uppercase mb-3">Dashboard</h1>
		<div class="d-inline-flex">
			<p class="m-0"><a href="{% url "home" %}">Home</a></p>
			<p class="m-0 px-2">-</p>
			<p class="m-0">Dashboard</p>
		</div>
	</div>
</div>
<!-- Page Header End -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

<div class="container-fluid ">
	<div class="row">
	<aside class="col-md-3">
		{% include "accounts/sidebar.html" %}
	</aside>
	<main class="col-md-5">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3">Transaction </strong>
		</header>
		<div class="card-body">
			<div class="row"> 
				<div class="col-md-12"> 
                    {% if transactions %}
					<table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col"> #</th>
                            <th scope="col"></th>
                            <th scope="col">Amount</th>
                          </tr>
                        </thead>
                        <tbody>
							{% for i in transactions %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
								{% if i.transaction_type == 'Credit' %}
								<p>Credited at {{i.transaction_date|date:"d-m-Y"}}</p>
								{% elif i.transaction_type == 'Debit' %}
								<p>Debited at {{i.transaction_date|date:"d-m-Y"}}</p>
								{% endif %}
							</td>
							{% if i.transaction_type == 'Credit' %}
                            <td class="text-success">+ Rs {{i.amount}}</td>
							{% elif i.transaction_type == 'Debit' %}
                            <td class="text-danger">- Rs {{i.amount}}</td>
							{% endif %}
                          </tr>
						  {% endfor %}
                        </tbody>
                      </table>
					  {% else %}
					  <h6 class="text-muted">No Transaction</h6>
                      {% endif %}
				</div>
				
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		<div class="table-responsive">
		
		</div> <!-- table-responsive .end// -->
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock content %}